.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.pagination__button {
  width: 50px;
  height: 40px;
  background: white;
  border: 1px solid #252b42;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    color: #8ec2f2;
    border-color: #8ec2f2;
  }
}

.pagination__button:not(:last-child) {
  margin-right: 17px;
}

.pagination__page-button {
  width: 40px;
  height: 40px;
  background: white;
  border: 1px solid #252b42;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 17px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #252b42;
  cursor: pointer;
  &:hover {
    color: #8ec2f2;
    border-color: #8ec2f2;
  }
}
